
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu ul li:hover{
    background: #420b0b;
    color: #69ff56;
    cursor: pointer;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 900px
}
.menu{
    width: 25%;
    background: #5e0303;

}
ul{
    list-style: none;
    padding: 0;
}
.main{
    width: 75%;
    background: wheat;
}
.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
li{
    text-decoration: none;
}
.menu ul li {
    /* width: 180px; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}

@media (max-width: 700px) and (min-width: 500px) {
    .container {
        background: #ffe056;
        flex-direction: column;
        width: 100%;
    }
    .menu ul li {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu{
        width: 100%;
    }
    .menu ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
    }
    .main{
        width: 100%;
        height: 800px
    }
}
@media (max-width: 500px)  {
    .container {
        background: #ffe056;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .menu ul li {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu{
        width: 100%;
        height: auto;
    }
    .menu ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .main{
        width: 100%;
        height: 800px;
    }

}


/* .menu ul li:nth-child(1){
    color: red;
} */








