.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  top: 102%;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  left: 0;
  background-color: #00ca62b1;
  transform-origin: bottom top; /* bottom left/right */
  transition: transform 0.4s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom top; /* bottom left/right */
}