*{
    margin: 0;
    padding: 0;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Ubuntu';
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #313131;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}
a{
	text-decoration: none;
	color: #ffd78e;
}
.menu{
	width: 100%; height: 8vh;
	background-color: rgba(31, 30, 30, 0.808);
	/* filter: blur(2px); */
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	z-index: 20;
}
.elements-in-menu{
	font-size: 20px;
	line-height: calc("8vh + 20px");
	margin: 10px auto;
	color: #ffd78e;
	font-weight: 600;
	position: relative;
}
a:hover {
	cursor: pointer;
	color:#dab97c
}
.intro{
	height: 85vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-shadow: 2px 2px #0f0d0d;
}
.intro::before{
	background-image: url("./shutterstock_696061426-1920x1280.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	filter: blur(3px);
	filter:drop-shadow(3px 3px 5px gray);
	filter: grayscale(60%);
}
.intro img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.intro .info{
	flex-basis: 40%;
	position: relative;	
	color: #f1d8a8;
	line-height: 40px;
}
.intro .info p{
	float : left;
	font-weight: 600;
	font-size: 48px;
	word-spacing: auto;
}
.intro .info h3{
	float : right;
}
.intro-inside {
	position: relative;
	padding: 40px;
}
.intro-inside img {
	opacity: 0.9;
	filter: grayscale(10%)
}
.my-skills{
	height: auto;
	margin: 50px auto 0 auto;
	width: 100%;
}
.header-in-skill{
	margin: 80px auto;
}
.header-in-skill hr {
	width: 10%;
	margin: 30px auto;
	height: 0.8px;
}
div.header-in-skill p.p1 {
	font-size: 32px;
	font-weight: 600;
	color: #747070;
}


.skills-row{
	height: 200px;;
	width: 60%;
	display: flex;
	margin: 20px auto 0 auto;
	flex-direction: row;
	justify-items: center;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 2px solid silver;

}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.skill-name{
	flex-basis: 25%;
	text-align: center;
}

.skill-name p{
	font-size: 24px;
	font-weight: 600;
	color: #5c5a5a;
}
.my-skills .skills-row ul{
	margin: 0 auto;
	display: flex;
	text-align: center;
	flex-basis: 75%;
	justify-items: center;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
.hr2{
	width: 50%;
	margin: 0 auto;
}
.my-skills .skills-row ul li{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 10px solid #8fa6f1;
	text-align: center;
	line-height: 75px;
	color: #922a2a;
	font-size: 16px;
}
.hi{
	margin: 0px auto;
	padding : 160px auto;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	background-color: #f2feff;
	width: 100%;
}
.my-works{
	width: 60%;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	padding: 60px auto;
	align-content: center;
    overflow: hidden; 
}
.work-items{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 31%;
	height: 200px;
	background-size: cover; 
	overflow: hidden;
	transition: all .2s ease;
    vertical-align: middle;

}
.hover-item__btn {
	padding: 1rem 1.5rem;
	color: #eee;
	background: transparent;
	border: 1px solid orange;
	cursor: pointer;
	outline: none;
}
.work-items:hover .hover-item {
	transform: translateY(0);
	opacity: 1;
}

.hover-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	transform: translateY(100%);
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	transition: all 0.28s ease-in-out;
}
.contact{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-evenly;
	flex-direction: column;
}

.contact .title{
	text-align: center;
	margin: 10vh auto 4vh auto;
	font-size: 36px;
	font-weight: 800;
}
.contact hr{
	width: 15%;
	margin: 5vh auto;
	height: 1px;
}
.icons{
	display: flex;
	margin: 0 auto;
	width: 25%;
	flex-direction: row;
	justify-items: center;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	/* padding: 3rem 3rem; */
}
.icons .an-icon{
	font-size: 32px;
	color: #ff5858;
	margin: 0 13px;
}
.icons .an-icon:hover{
	cursor: pointer;
}
.infomation{
	display: flex;
	flex-direction: rơ2;
	width: 60%;
	margin: 0 auto;
	padding: 30px;
	flex-wrap: nowrap;
	/* justify-content: space-evenly; */
}
.infomation .info{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 50px auto 0 auto;
	/* padding: 90px auto;  */
	/* justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch; */
}
.infomation .info div{
	font-size: 22px; 
	/* flex-basis: 50%; */
	margin: 30px auto 0 auto;
	height: 50px;
	color: #1f1d1d;
	font-weight: 700;
}

.message{
	flex-basis: 50%;
	margin: 63px auto 0 auto;
	
}
 
input[type=text] {
	margin: 16px auto;
	width: 100%;
	padding: 13px;
	border: 1.3px solid #ccc;
	border-radius: 5px;
	resize: horizontal;
}

input[type=submit] {
	margin: 14px 0 14px 0;
	width: 20%;
	padding: 8px;
	border: 1.3px solid #ccc;
	border-radius: 5px;
	
	float: right;
}
input[type=submit]:hover {
	cursor: pointer;
	background-color: #d6d6d6;
}

input[type=text2] {
	text-align: start;
	margin: 16px auto;
	width: 100%;
	height: 15vh;
	padding: 13px;
	border: 1.3px solid #ccc;
	border-radius: 5px;
}
textarea{
	margin: 16px auto;
	width: 100%;
	padding: 13px;
	border: 1.3px solid #ccc;
	border-radius: 5px;
	resize: horizontal;
}

















































@media only screen and (max-width: 1050px) {
	.infomation{
		width: 85%;
	}
	.intro img{
		border-radius: 50%;
		width: 125px;
		height: 125px;
	}
	.intro div.info{
		flex-basis: 60%;
		position: relative;	
		color: #f1d8a8;
		line-height: 40px;
	}
	.intro-inside {
		position: relative;
		padding: 20px;
	}
	.intro div.info p{
		float : left;
		font-weight: 400;
		font-size: 40px;
		word-spacing: auto;
	}
	.intro div.info h3{
		float : right;
	}
	.infomation .info div{
		font-size: 20px; 
		flex-basis: 40%;
		margin: 0.1vh auto 0 auto;
	}
	/* .infomation .info div{
		font-size: 20px; 
		flex-basis: 50%;
		margin: 0px auto 0 auto;
		color: #1f1d1d;
		font-weight: 650;
		text-align: center;
	} */

	.infomation .info{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		margin: 50px auto 0 auto;
		/* justify-content: space-between; */
		/* padding: 90px auto;  */
		/* justify-content: space-evenly;
		align-items: stretch;
		align-content: stretch; */
	}
	.my-works{
		width: 85%;
	}
	.skills-row{
		width: 85%;
	}
}
	
 