.container {
    background-color : rgb(73, 23, 56);
    margin: 0 auto;
    padding: -4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.item {
    margin: -4px;
    color: rgb(255, 136, 0);
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}


.container2 {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.item2 {
    margin: 0px;
    color: rgb(105, 60, 1);
    text-align: center;
    max-width: 1130px;
    font-style: italic;
}

a{
    color: rgb(255, 136, 0);
    text-decoration: none;
    
}

/* hình loại 1 - 3 từ trên xuống */
img.h1{
    height : 160px;
    width : 160px;
    text-align: center;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

img.h2{
    width: 100%;
    text-align: center;
}

img.h3{
    height : 360px;
    width : 360px;
    text-align: center;
    color : red;
}

div.img{
    text-align: center;
    align-items: center;
}


h1{
    text-align: center;
    color : rgb(7, 133, 14);
}
h1.loai2,p{
    color: rgb(94, 7, 121);
    text-align: center;
}
h1.loai3{
    color: rgb(172, 24, 13);
    text-align: center;
}


h4{
    color: rgb(35, 5, 44);
    font-style: italic;
    text-align: center;
}

hr.line1{
    width: 250px;
}

hr.line2{
    width: 1130px
}
div{
    display: block;
    text-align: center;
    
}

p{
    color: rgb(105, 60, 1);
}

div.bottom{
    background-image: repeating-radial-gradient(#FAD7B7,#E96d71);
    color: rgb(124, 120, 120);
    font-size: 28px;
    height: 58px;
    line-height : 58px;
    box-shadow: 5px 10px #888888;
}