*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 80px;
}

.header {
  color: brown;
  text-align: center;
  font-size: 40px;
}

#content {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content #input {
  margin-bottom: 20px;
  width: 60%;
  font-size: 22px;
  padding: 20px 35px;
  min-height: 46px;
  outline: none;
  border: none;
  box-shadow: 3px 7px 10px 5px #e9e9e9;
}

#content #input::placeholder {
  color: rgb(202, 202, 202);
  font-style: italic;
}
li {
  list-style-type: none;
}

#todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#todo-list .todo {
  display: flex;
  width: 100%;
  font-size: 22px;
  padding: 15px 35px;
  margin-top: 20px;
  box-shadow: 3px 7px 10px 5px #e9e9e9;
  justify-content: space-between;
  background-color: white;
}

#todo-list .todo .text {
  outline: none;
  border: none;
  text-align: start;
  font-size: 22px;
  margin: auto 0;
  user-select: none;
  cursor: text;
}

#todo-list .todo .text {
  background-color: white;
}

.completed {
  text-decoration: line-through;
  color: silver;
}

.btn {
  padding: 10px 22px;
  background-color: rgb(255, 74, 74);
  outline: none;
  border: none;
  color: white;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(233, 20, 20);
  cursor: pointer;
}

#footer {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  padding: 15px 35px;
  box-shadow: 3px 7px 10px 5px #e9e9e9;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.mg-r20 {
  margin-right: 20px;
}

.center-by-x {
  margin: auto 0;
}

.center-by-y {
  margin: 0 auto;
}

.featureBtns {
  display: flex;
  min-width: 280px;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode .header {
  color: rgb(228, 198, 255);
}
