*{
    margin :0;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvqKhnlYaL-43yXWivddDMsWaPoQ-5AAQ2Pw&usqp=CAU");
    background-color: rgb(125, 129, 136);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #b1ae99;
    font-size: 40px;
    color : rgb(122, 71, 4);
}
.menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #267974; 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMPaJTF-laGP_AbFsUdVl2-FJKICdMy8dT9g&usqp=CAU");

}
.element-in-menu{
    font-size : 18px;
    flex-basis: 33.33333333%;
    display: flex;
    justify-content: center;
    color:#44eb60;
    cursor: pointer;
}
.top {
    height: 230px;
    width : 44%;
    margin : 15px auto;
    text-align: center;
    text-shadow: 2px 2px 2px #dbdada;
}
img{
    height:140px;
    width: 140px;
    border-radius: 50%;
    padding : 1%;
    text-shadow: 2px 2px violet;
}
.img{
    display:flex;
    justify-content: center;
    text-shadow: 2px 2px violet;

}
.main{
    display : flex;
    width: 80%;
    height : auto;
    margin: 5px auto ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.type1{
    border : 5px solid #18082c;
    border-radius: 15px;
    height: 300px;
    width : 61.8%;
    padding: 1.5%;
    display: block;
    line-height: 25px;
    margin: 0.5%;
    background-color: #f9fabd;
    overflow :auto;
}

.type2{
    border : 5px solid #18082c;
    border-radius: 15px;
    height: 300px;
    width : 28.5%;
    padding: 1.5%;
    line-height: 25px;
    margin: 0.5%;
    background-color: #f9fabd;
    overflow :auto;
}
.type3{
    border : 5px solid #18082c;
    border-radius: 15px;
    height: 300px;
    width : 28.5%;
    padding: 1.5%;
    line-height: 25px;
    margin: 0.5%;
    margin-left: 0;
    background-color: #f9fabd;
    overflow :auto;
}
.xem-them{
    border-radius: 8px;
    height:50px;
    line-height: 50px;
    margin : 0 auto;
    width : 80px;
    background-color: #086969;
    color: #f3f3a2;
    text-align: center;
    cursor: pointer;
}

/* .xem-them{
    border-radius: 8px;
    margin : 0 auto;
    text-align: center;
    display: inline-block;
    padding: 16px 28px;
    background-color: #086969;
    color: #f3f3a2;
    cursor: pointer;
} */

.footer{
    height : 90px;
    width: 100%;
    background-color: thistle;
    text-align: center;
    line-height: 90px;
    color : #3f1f0c ;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMPaJTF-laGP_AbFsUdVl2-FJKICdMy8dT9g&usqp=CAU");
}
.xem-them:hover{
    background-color: #3d9c9c;
}

@keyframes example {
    0% {background-color:#f16666; left:0px; top:0px;}
    25% {background-color:#f3f36f; left:200px; top:0px;}
    50% {background-color:#5555df; left:200px; top:200px;}
    75% {background-color:#226b22; left:0px; top:200px;}
    100% {background-color:#e93737; left:0px; top:0px;}
}
