div{
    display:block;
}
.container1{
    display : flex; 
    background-color: #5995DB;
    height: 60px;
    padding-left: 13%;
    padding-right: 13%;
    align-items: center;
    align-content: center;

}
.container2{
    background-color: #D7E9FF;
    height: 220px;
    font-size : 50px;
    align-items: center;
    display : flex; 
    margin: 0px auto;
    justify-content: center;
}
.container3{
    display : flex; 
    width: 50%;
    height : 400px;
    margin: 0px auto;
    font-size: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer{
    display : flex; 
    width: 100%;
    height : 150px;
    margin: 0px auto;
    flex-direction: row;
}
.date {
    font-size : 22px;
    background-color: #5995DB;
    flex-basis: 74%;
    padding-left: 5%;
    cursor: pointer;
}
.sign_up{
    font-size : 22px;
    background-color: #5995DB;
    flex-basis: 13%;
    padding-left: 5%;
    cursor: pointer;
}
.login{
    font-size : 22px;
    background-color: #5995DB;
    flex-basis: 13%;
    padding-right: 5%;
    cursor: pointer;   
}
.element1{
    width: 33.3333333%;
    height: 50%;
    background-color: #C9C4FA;
    display: flex;
    justify-content: center;
    align-items: center;

}
.element2{
    width: 33.3333333%;
    background-color: #F0999F;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element3{
    width: 33.3333333%;
    background-color: #B3D5FF;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element4{
    width: 33.33%;
    height: 50%;
    background-color: #C3EDFB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element5{
    width: 33.33%;
    height: 50%;
    background-color: #F5CF8E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1{
    width: 20%;
    background-color: #5995DB;
}
.footer2{
    width: 60%;
    background-color: #D7E9FF;  
}
.footer3{
    width: 20%;
    background-color: #5995DB;  
}
.date:hover{
    color: #c7c7ee;
}
.sign_up:hover{
    color: #c7c7ee;
}
.login:hover{
    color: #c7c7ee;
}