* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-bar {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  flex-basis: 35%;
  background-color: rgb(1, 1, 1);
}
.search-bar input {
  border-radius: 10px;
  padding: 0 20px;
}
li {
  list-style-type: none;
}
.header .leftside {
  background-color: rgb(251, 216, 0);
  flex-basis: 65%;
  justify-content: space-between;
}
.menu-header {
  display: flex;
  flex-direction: row;
  background-color: rgb(251, 216, 0);
  justify-content: space-between;
}
.menu-header li{
  padding: 5px 25px;
  line-height: 66px;
  display: flex;
  flex-direction: column;

}
.menu-header li:first-child{
  background-color: rgb(246, 246, 246);
}

.point {
  position: relative;
}
.sub-menu {
  position: absolute;
  top: 0;
  right: -51%;
  display: none;
  background-color: white;
}

.point:hover .sub-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.point:hover .sub-menu li{
  
  background-color: white;
}

.menu-header div{
  height: 30px;
  width: 28px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.content .left-side-menu {
  flex-basis: 25%;
}

.content .left-side-menu h1{
  background-color: rgb(38, 171, 227);
  color: white;
  padding: 10px 20px;
}

.content-menu li {
  padding: 20.5px 20px;
  border-bottom: 1px dashed rgb(181, 181, 181);
  background-color: rgb(243, 246, 251);
  
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.main {
  flex-basis: 77%;
  padding: 0 20px;
  border: 3px solid blue;
  margin-left: 15px;
}
.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.product {
  flex-basis: 24.7%;
  font-size: 16px;
  color: #330066;
}
.product p {
  color: #330066;
  font-size: 16px;
}
