*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}

.header a {
    padding : 7px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.header{
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.header h1 {
    float: left;
    line-height: 30px;
}
.header .header-elements{
    float: right;
}






.menu{
    width: 100%;
    background-color: #ffccff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu0{
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
    background-color: #ffccff;
}
.menu li{
    background-color: #ffccff;
    float: left;
    list-style-type: none;
    padding: 7px 40px;
    text-align: center;
}
.menu li:hover{
    background-color: #66ffff;
    float: left;
}
ul,li{
    margin: 0;
    padding: 0;
}
.menu_c2{
    display: none;
}
.point{
    position: relative;
}
.point:hover .menu_c2 {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 100%;
    left :0;
    background-color:#ffccff;
}
.menu_c2 li {
    background-color: #ffccff;
}
.menu_c2 li:hover{
    background-color:#66ffff;
}

.lua-chon div{
    margin-bottom: 25px;
    margin-right: 20px;
    padding: 7px 20px;
    float:left;
    border: 1px solid black;
}

.main{
    margin-left: 3px;
    padding: 10px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.lua-chon{
    margin: 0 auto;
}
.main .lua-chon div{
    border-radius: 20px;
}
.san-pham{
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.sp{
    display: inline-block;
    flex-direction: column;
    border: 1px solid #dadada;
    margin: 5px;
    box-sizing: border-box;
}
.sp p {
    color: #000066;
    font-size: 16px;
    height: 22px;
}
.sp img {
    width: 350px;
}
.sp:hover p{
    font-size: 22px;
    background-color: aquamarine;
    height: 22px;
}