* {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
#menu li { 
	display:block; 
	color: #fff; 
}
#menu > li {
	position: relative;
	display: inline-block;
	padding: 6px 45px;
	background-color: #777;
}
#menu li li {
  padding: 7px 0;
  background: rgb(194, 22, 22);
} 
#menu ul {
	position: absolute;
	top: 100%; left: 0;
  width: 100%;
	max-height: 0;	
	background-color: #ddd;
	overflow: hidden;
	transition: .6s max-height;
}
#menu > li:hover ul {
	max-height: 30vh;
}