body{
    font-size: 20px;

    padding: 0;
    box-sizing: border-box;
}
.git{
    width: 100%;
    margin-top: 1rem;
    background-color: #f6f6f6;
}
.git .git-statement span {
    background-color: black;
    color: white;
    font-size: 20px;
}
.git .git-statement p {
    margin-top: 0;
    font-size: 20px;
}
.git h2{
    font-size: 30px;
    margin: 0;
}
body {
    background-color: #f6f6f6;
}
.git h1{
    font-size: 23px;
    margin: 25px 0;
    background-color: #deb887;
    color: blue;
}
.mixi{
    width: 100%;
}
.mixi h3{
    background-color: #d2691e;
    color: blue;
    text-align: center;
    padding-bottom: 1.75rem;
    margin: 0;
}
.mixi p {
    width: 100%;
    text-align: center;
    background-color: #fffacd;
    margin: 0;
}
.poets{
    width: 100%;
}
.poets h3{
    background-color: #00ffff;
}
.poets p{
    background-color: #ff6cb4;
}
.footer {
    background-color: #ffe4b5;
    color: red;
    text-align: center;
    font-size: 38px;
    padding: 0.5rem 0;
    font-weight: 700;
}
