h2.h1{
    color: rgb(243, 64, 64);
    background-color: rgb(211, 211, 71);
    text-align: center;
}
.hehe{
    color: rgb(243, 64, 64);
    background-color: rgb(211, 211, 71);
    text-align: center;
}
span{
    background-color: none;
}
hr{
    width : 350px;
    height: 5px;
    background-color: rgb(126, 204, 8);
    background-image: url(.\Givethismanavirus\92253413_217304336155105_1540228160572882944_n.jpg);
    
}
div{
    width: 420px;
    height : 120px;
    display: block;
    
}
div.div-cha{

}
img{
    width: 8.756cm;
    height: 11cm;
}

img.hehe{
    width: 20cm;
    height: 24cm;
}