.NewBlogCard{
  margin: 32px auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0px #ccc;
  transition: 0.3s;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.NewBlogCard:hover{
  box-shadow: 5px 3px 2px 2px #c09cfa;
  background-color: rgb(249, 255, 248);
}

@media (min-width: 992px) {
  .NewBlogCard{
    width: 30%;
    display: block;
  }
}